html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #000;
	overflow: hidden;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
	box-sizing: border-box;
}
